history-btn {
    text-align: center;
    display: block;
    padding: 0.5rem 1.2rem;
    margin: 0.5rem;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

/* body {
  background-image: url(https://media.wbur.org/wp/2020/04/CODNEXLAB-GOES-East-regional-northeast-13-00_21Z-20200402_map_data-13-1n-10-100.gif);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}